@using Northwind.Models
@model IEnumerable<Order>

<<<<<<< HEAD

        <!--<select id="Options" name="Options">

             <option value="Past Required Date" asp-controller="RequiredEndedController" asp-action="Index">7 Past Required Date</option>

             <option value="Week from Required Date">Week from Required Date</option>

             <option value="Required Today">Required Today</option>

             <option selected="selected" value="Required Today"></option>

         </select>-->
        @using (Html.BeginForm("Index", "Order", FormMethod.Get))
        {
            <b>Search By Ship Name</b>
            @Html.TextBox("searchShipName")<input type="submit" value="Search" placeholder="Ernst Handel"/>
=======
<br />
<div class="btn-group" id="Options" name="Options" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Past Required Date</button>
    <button type="button" class="btn btn-secondary">Week from Required Date</button>
    <button type="button" class="btn btn-secondary">Required Today</button>
</div>

<br />
@using (Html.BeginForm("Index", "Order", FormMethod.Get))

{

    <b>Search By Ship Name</b>

    @Html.TextBox("searchShipName")<input type="submit" value="Search" />

}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col" class="text-right">Order Date</th>
            <th scope="col" class="text-right">Shipped Date</th>
            <th scope="col" class="text-right">Required Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Order o in Model)
        {
            <tr>
                <td><a asp-action="OrderDetail" asp-route-id="@o.OrderID" class="list-group-item list-group-item-action">@o.OrderID</a></td>
                <td class="text-right">@o.OrderDate</td>
                <td class="text-right">@o.ShippedDate</td>
                <td class="text-right">@o.RequiredDate</td>
            </tr>
>>>>>>> 4eb4035997ec1071d72431d4216e0571285cccce
        }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col" class="text-right">Order Date</th>
                    <th scope="col" class="text-right">Required Date</th>
                    <th scope="col" class="text-right">Ship Name</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (Order o in Model)
                    {
                        <tr>
                            <td><a asp-action="OrderDetail" asp-route-id="@o.OrderID" class="list-group-item list-group-item-action">@o.OrderID</a></td>
                            <td class="text-right">@o.OrderDate</td>
                            <td class="text-right">@o.RequiredDate</td>
                            <td class="text-right">@o.ShipName</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <a class="navbar-brand" asp-controller="Order" asp-action="Next"><i class="far fa-compass"></i> Next</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
